|num|변수|유형|길이|레이블|항목값|조사도구|척도|
|:-:|:---|---|---|:----|:----|:-------|---|
|1|ID|문자|10|개인 아이디|||명목(key)|
|2|sex|숫자|8|성별|1. 남자<BR>2. 여자|설문조사|명목|
|3|age|숫자|8|만나이|1~79. 1~79세<BR>80. 80세이상|설문조사|순서+명목(80세이상)|
|4|ho_incm|숫자|8|소득4분위수(가구)|1. 하<BR>2. 중하<BR>3. 중상<BR>4. 상|설문조사|순서|
|5|edu|숫자|8|교육수준 재분류 코드|1. 초졸이하<BR>2. 중졸<BR>3. 고졸<BR>4. 대졸이상|설문조사|순서|
|6|occp|숫자|8|직업재분류 및 실업/비경제활동인구상태 코드|1. 관리자, 전문가 및 관련 종사자<BR>2. 사무종사자<BR>3. 서비스 및 판매 종사자<BR>4. 농림어업 숙련 종사자<BR>5. 기능원, 장치․기계조작 및 조립종사자<BR>6. 단순노무종사자<BR>7. 무직(주부, 학생 등)|설문조사|명목|
|7|marri_1|숫자|8|결혼여부|1. 기혼<BR>2. 미혼<BR>9. 모름, 무응답|설문조사|명목|
|8|sm_presnt|숫자|8|현재흡연율|0. 아니오<BR>1. 예|설문조사|명목, 더미|
|9|dr_high|숫자|8|고위험음주여부|0. 아니오<BR>1. 예|설문조사|명목, 더미|
|10|pa_aerobic|숫자|8|유산소신체활동실천여부|0. 아니오<BR>1. 예|설문조사|명목, 더미|
|11|pa_walk|숫자|8|걷기실천여부|0. 아니오<BR>1. 예|설문조사|명목, 더미|
|12|pa_muscle|숫자|8|근력운동여부|0. 아니오<BR>1. 예|설문조사|명목, 더미|
|13|HE_ht|숫자|8|신장|□□□.□cm|검진조사|비율|
|14|HE_wt|숫자|8|체중|□□□.□ kg|검진조사|비율|
|15|HE_wc|숫자|8|허리둘레|□□□.□ cm|검진조사|비율|
|16|HE_BMI|숫자|8|체질량지수|□□□.□ kg/m2|검진조사|비율|
|17|HE_HP|숫자|8|고혈압 유병여부(19세이상)|1. 정상<BR>2. 고혈압전단계<BR>3.고혈압|수축기혈압이 140이상이거나 이완기혈압이 90이상인 여부<BR>*고혈압 진단기준|명목, 더미|
|18|HE_DM|숫자|8|당뇨병 유병여부(19세이상)|1. 정상<BR>2. 공복혈당장애<BR>3.당뇨병|공복혈당≥ 126 또는 당뇨병약 복용 또는 인슐린주사 투여 또는 의사진단자|명목, 더미|
|19|HE_HCHOL|숫자|8|고콜레스테롤혈증 유병여부(19세이상)|0. 아니오<BR>1. 예|공복시 총콜레스테롤≥240㎎/㎗ 또는 콜레스테롤약 복용|명목, 더미|
|20|GS_use|숫자|8|주로 사용하는 손|1. 오른손<BR>2. 왼손<BR>3. 양손<BR>8. 비해당(10세미만)<BR>9. 무응답(미검진)||명목|
|21|N_WAT_C|숫자|8|물섭취량(컵)|물섭취량(컵: 200ml)|24시간 회상법으로 조사한 식품섭취조사의 식품을 환산한 결과<BR>*자세한 내용은 국민건강영양조사(https://knhanes.cdc.go.kr/knhanes/main.do)에서 확인가능|비율|
|22|N_INTK|숫자|8|식품섭취량(g)|식품별 섭취량(g)||비율|
|23|N_EN|숫자|8|에너지섭취량(Kcal)|에너지섭취량(Kcal)||비율|
|24|N_WATER|숫자|8|수분섭취량(g)|수분섭취량(g)||비율|
|25|N_PROT|숫자|8|단백질섭취량(g)|단백질섭취량(g)||비율|
|26|N_FAT|숫자|8|지방섭취량(g)|지방섭취량(g)||비율|
|27|N_SFA|숫자|8|포화지방산 섭취량(g)|포화지방산 섭취량(g)||비율|
|28|N_MUFA|숫자|8|단일불포화지방산 섭취량(g)|단일불포화지방산 섭취량(g)||비율|
|29|N_PUFA|숫자|8|다가불포화지방산 섭취량(g)|다가불포화지방산 섭취량(g)||비율|
|30|N_N3|숫자|8|n-3계 지방산 섭취량(g)|n-3계 지방산 섭취량(g)||비율|
|31|N_N6|숫자|8|n-6계 지방산 섭취량(g)|n-6계 지방산 섭취량(g)||비율|
|32|N_chol|숫자|8|콜레스테롤섭취량(mg)|콜레스테롤섭취량(mg)||비율|
|33|N_CHO|숫자|8|탄수화물섭취량(g)|탄수화물섭취량(g)||비율|
|34|N_tdf|숫자|8|식이섬유섭취량(g)|식이섬유섭취량(g)||비율|
|35|N_CA|숫자|8|칼슘섭취량(mg)|칼슘섭취량(mg)||비율|
|36|N_PHOS|숫자|8|인섭취량(mg)|인섭취량(mg)||비율|
|37|N_FE|숫자|8|철섭취량(mg)|철섭취량(mg)||비율|
|38|N_NA|숫자|8|나트륨섭취량(mg)|나트륨섭취량(mg)||비율|
|39|N_K|숫자|8|칼륨섭취량(mg)|칼륨섭취량(mg)||비율|
|40|N_VA|숫자|8|비타민A섭취량(μgRE)|비타민A섭취량(μgRE)||비율|
|41|N_CAROT|숫자|8|카로틴섭취량(μg)|카로틴섭취량(μg)||비율|
|42|N_RETIN|숫자|8|레티놀섭취량(μg)|레티놀섭취량(μg)||비율|
|43|N_B1|숫자|8|티아민섭취량(mg)|티아민섭취량(mg)||비율|
|44|N_B2|숫자|8|리보플라빈섭취량(mg)|리보플라빈섭취량(mg)||비율|
|45|N_NIAC|숫자|8|나이아신섭취량(mg)|나이아신섭취량(mg)||비율|
|46|N_VITC|숫자|8|비타민C섭취량(mg)|비타민C섭취량(mg)||비율|
|47|max_grip_rt|숫자|8|오른손 최대악력|1~3차 악력측정값 중 최대값|타겟변수는 양손 최대악력중 최대값으로 사용|비율|
|48|max_grip_lt|숫자|8|왼손 최대악력|||비율|

In [1]:
# 자료 불러오기
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_sas('grip_str.sas7bdat').dropna()

In [2]:
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC,max_grip_rt,max_grip_lt
0,b'A209716213',2.0,30.0,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,3035.899499,1335.998584,7476.633795,88.505252,2.524458,1.702372,13.792368,69.967986,28.4,26.4
2,b'A209716216',1.0,29.0,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,5018.153615,2181.289291,11339.248496,291.693538,3.853337,3.065095,22.947486,65.287764,50.6,47.8
3,b'A209724716',1.0,65.0,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,1952.808521,452.073639,2102.115596,100.982500,1.164780,1.098967,11.789950,43.467542,33.1,33.6
4,b'A209731516',1.0,66.0,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,2339.124348,854.972445,4817.173801,51.367319,1.015765,0.579514,10.199538,56.882524,36.5,35.4
6,b'A209736615',2.0,41.0,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,2214.850076,276.389343,1509.860228,19.627705,0.932423,0.742740,16.719703,146.408221,31.7,29.6

In [3]:
df.age.max()

80.0

In [4]:
df.age.min()

19.0

In [5]:
labels = ["{0} - {1}".format(i, i + 10) for i in range(19, 80, 10)]

In [6]:
labels

['19 - 29', '29 - 39', '39 - 49', '49 - 59', '59 - 69', '69 - 79', '79 - 89']

In [7]:
df['age']=df.age.astype('int64')

In [8]:
df['age'] = pd.cut(df.age, range(19, 90, 10), right=False, labels=labels)

In [9]:
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC,max_grip_rt,max_grip_lt
0,b'A209716213',2.0,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,3035.899499,1335.998584,7476.633795,88.505252,2.524458,1.702372,13.792368,69.967986,28.4,26.4
2,b'A209716216',1.0,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,5018.153615,2181.289291,11339.248496,291.693538,3.853337,3.065095,22.947486,65.287764,50.6,47.8
3,b'A209724716',1.0,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,1952.808521,452.073639,2102.115596,100.982500,1.164780,1.098967,11.789950,43.467542,33.1,33.6
4,b'A209731516',1.0,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,2339.124348,854.972445,4817.173801,51.367319,1.015765,0.579514,10.199538,56.882524,36.5,35.4
6,b'A209736615',2.0,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,2214.850076,276.389343,1509.860228,19.627705,0.932423,0.742740,16.719703,146.408221,31.7,29.6

In [10]:
df=df.drop(['ID'],axis=1)

In [11]:
cat_list=['sex','ho_incm','edu','occp','marri_1','sm_presnt','dr_high','pa_aerobic','pa_walk','pa_muscle','HE_HP','HE_DM','HE_HCHOL','GS_use']

In [12]:
for i in cat_list:
    df[i]=pd.Categorical(df[i])

In [13]:
df=pd.get_dummies(df)

In [14]:
df.columns

Index(['HE_ht', 'HE_wt', 'HE_wc', 'HE_BMI', 'N_WAT_C', 'N_INTK', 'N_EN',
       'N_WATER', 'N_PROT', 'N_FAT', 'N_SFA', 'N_MUFA', 'N_PUFA', 'N_N3',
       'N_N6', 'N_chol', 'N_CHO', 'N_tdf', 'N_CA', 'N_PHOS', 'N_FE', 'N_NA',
       'N_K', 'N_VA', 'N_CAROT', 'N_RETIN', 'N_B1', 'N_B2', 'N_NIAC', 'N_VITC',
       'max_grip_rt', 'max_grip_lt', 'sex_1.0', 'sex_2.0', 'age_19 - 29',
       'age_29 - 39', 'age_39 - 49', 'age_49 - 59', 'age_59 - 69',
       'age_69 - 79', 'age_79 - 89', 'ho_incm_1.0', 'ho_incm_2.0',
       'ho_incm_3.0', 'ho_incm_4.0', 'edu_1.0', 'edu_2.0', 'edu_3.0',
       'edu_4.0', 'occp_1.0', 'occp_2.0', 'occp_3.0', 'occp_4.0', 'occp_5.0',
       'occp_6.0', 'occp_7.0', 'marri_1_1.0', 'marri_1_2.0', 'sm_presnt_0.0',
       'sm_presnt_1.0', 'dr_high_0.0', 'dr_high_1.0', 'pa_aerobic_0.0',
       'pa_aerobic_1.0', 'pa_walk_0.0', 'pa_walk_1.0', 'pa_muscle_0.0',
       'pa_muscle_1.0', 'HE_HP_1.0', 'HE_HP_2.0', 'HE_HP_3.0', 'HE_DM_1.0',
       'HE_DM_2.0', 'HE_DM_3.0', 'HE_HCHOL_0.0', 'HE_HCHOL_1.0', 'GS_use_1.0',
       'GS_use_2.0', 'GS_use_3.0'],
      dtype='object')

In [15]:
RANDOM_STATE=11

In [16]:
target = df[['max_grip_rt', 'max_grip_lt']].max(axis = 1)
features = df.drop(columns = ['max_grip_rt', 'max_grip_lt'], axis = 1)

In [17]:
# Train데이터와 Test를 나눈다.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=RANDOM_STATE)

In [18]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
import numpy as np

In [20]:
from sklearn.linear_model import Ridge
from sklearn.ensemble import AdaBoostRegressor,BaggingRegressor,RandomForestRegressor

In [27]:
# Create a pipeline
pipe = Pipeline([('regressor', Ridge())])


search_space = [{'regressor': [Ridge()],
                 'regressor__alpha':[10**i for i in [1,0,-1,-2,-3]],
                 'regressor__max_iter':np.arange(10,100,20)},
                {'regressor': [AdaBoostRegressor()],
                 'regressor__n_estimators': [50, 70, 100],
                 'regressor__learning_rate': [0.1,0.01,0.001,0.0001]},
               {'regressor': [RandomForestRegressor()],
                 'regressor__n_estimators': [50, 70, 100],
                 'regressor__max_depth': [5,10,15]},
               {'regressor': [BaggingRegressor()],
                 'regressor__n_estimators': [5,10,15],
                 'regressor__max_features': [0.1,1.0,0.5],
                 'regressor__max_samples': [0.1,1.0,0.5]}]

In [28]:
from sklearn.model_selection import KFold

In [29]:
kf = KFold(n_splits=5)

In [30]:
reg = GridSearchCV(pipe, search_space, cv=kf)

In [31]:
reg.fit(X_train,y_train)

GridSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
       error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('regressor', Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001))]),
       fit_params=None, iid=True, n_jobs=1,
       param_grid=[{'regressor': [Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=10,
   normalize=False, random_state=None, solver='auto', tol=0.001)], 'regressor__alpha': [10, 1, 0.1, 0.01, 0.001], 'regressor__max_iter': array([10, 30, 50, 70, 90])}, {'regressor': [AdaBoostRegressor(base_est...[5, 10, 15], 'regressor__max_features': [0.1, 1.0, 0.5], 'regressor__max_samples': [0.1, 1.0, 0.5]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [32]:
reg.score(X_test,y_test)

0.764346220268123

In [33]:
reg.best_estimator_

Pipeline(memory=None,
     steps=[('regressor', Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=10,
   normalize=False, random_state=None, solver='auto', tol=0.001))])